<template>
  <!-- BEGIN: Side Menu -->
  <nav class="side-nav">
    <ul>
      <li>
        <a href="javascript:;" class="side-menu">
          <div class="side-menu__icon"><i data-lucide="home"></i></div>
          <div class="side-menu__title">
            Dashboard
            <div class="side-menu__sub-icon">
              <i data-lucide="chevron-down"></i>
            </div>
          </div>
        </a>
        <ul class="">
          <li>
            <a class="side-menu">
              <div class="side-menu__icon">
                <i data-lucide="activity"></i>
              </div>
              <div class="side-menu__title">Overview 1</div>
            </a>
          </li>
          <li>
            <a class="side-menu">
              <div class="side-menu__icon">
                <i data-lucide="activity"></i>
              </div>
              <div class="side-menu__title">Overview 2</div>
            </a>
          </li>
          <li>
            <a class="side-menu">
              <div class="side-menu__icon">
                <i data-lucide="activity"></i>
              </div>
              <div class="side-menu__title">Overview 3</div>
            </a>
          </li>
          <li>
            <a class="side-menu">
              <div class="side-menu__icon">
                <i data-lucide="activity"></i>
              </div>
              <div class="side-menu__title">Overview 4</div>
            </a>
          </li>
        </ul>
      </li>
      <li>
        <a href="javascript:;" class="side-menu">
          <div class="side-menu__icon"><i data-lucide="box"></i></div>
          <div class="side-menu__title">
            Menu Layout
            <div class="side-menu__sub-icon">
              <i data-lucide="chevron-down"></i>
            </div>
          </div>
        </a>
        <ul class="">
          <li>
            <a class="side-menu">
              <div class="side-menu__icon">
                <i data-lucide="activity"></i>
              </div>
              <div class="side-menu__title">Side Menu</div>
            </a>
          </li>
          <li>
            <a class="side-menu">
              <div class="side-menu__icon">
                <i data-lucide="activity"></i>
              </div>
              <div class="side-menu__title">Simple Menu</div>
            </a>
          </li>
          <li>
            <a class="side-menu">
              <div class="side-menu__icon">
                <i data-lucide="activity"></i>
              </div>
              <div class="side-menu__title">Top Menu</div>
            </a>
          </li>
        </ul>
      </li>
      <li>
        <a class="side-menu side-menu--active">
          <div class="side-menu__icon">
            <i data-lucide="shopping-bag"></i>
          </div>
          <div class="side-menu__title">
            E-Commerce
            <div class="side-menu__sub-icon transform rotate-180">
              <i data-lucide="chevron-down"></i>
            </div>
          </div>
        </a>
        <ul class="side-menu__sub-open">
          <li>
            <a class="side-menu">
              <div class="side-menu__icon">
                <i data-lucide="activity"></i>
              </div>
              <div class="side-menu__title">Categories</div>
            </a>
          </li>
          <li>
            <a class="side-menu">
              <div class="side-menu__icon">
                <i data-lucide="activity"></i>
              </div>
              <div class="side-menu__title">Add Product</div>
            </a>
          </li>
          <li>
            <a href="javascript:;" class="side-menu">
              <div class="side-menu__icon">
                <i data-lucide="activity"></i>
              </div>
              <div class="side-menu__title">
                Products
                <div class="side-menu__sub-icon">
                  <i data-lucide="chevron-down"></i>
                </div>
              </div>
            </a>
            <ul class="">
              <li>
                <a class="side-menu">
                  <div class="side-menu__icon">
                    <i data-lucide="zap"></i>
                  </div>
                  <div class="side-menu__title">Product List</div>
                </a>
              </li>
              <li>
                <a class="side-menu">
                  <div class="side-menu__icon">
                    <i data-lucide="zap"></i>
                  </div>
                  <div class="side-menu__title">Product Grid</div>
                </a>
              </li>
            </ul>
          </li>
          <li>
            <a href="javascript:;" class="side-menu">
              <div class="side-menu__icon">
                <i data-lucide="activity"></i>
              </div>
              <div class="side-menu__title">
                Transactions
                <div class="side-menu__sub-icon">
                  <i data-lucide="chevron-down"></i>
                </div>
              </div>
            </a>
            <ul class="">
              <li>
                <a class="side-menu">
                  <div class="side-menu__icon">
                    <i data-lucide="zap"></i>
                  </div>
                  <div class="side-menu__title">Transaction List</div>
                </a>
              </li>
              <li>
                <a class="side-menu">
                  <div class="side-menu__icon">
                    <i data-lucide="zap"></i>
                  </div>
                  <div class="side-menu__title">Transaction Detail</div>
                </a>
              </li>
            </ul>
          </li>
          <li>
            <a href="javascript:;" class="side-menu">
              <div class="side-menu__icon">
                <i data-lucide="activity"></i>
              </div>
              <div class="side-menu__title">
                Sellers
                <div class="side-menu__sub-icon">
                  <i data-lucide="chevron-down"></i>
                </div>
              </div>
            </a>
            <ul class="">
              <li>
                <a class="side-menu">
                  <div class="side-menu__icon">
                    <i data-lucide="zap"></i>
                  </div>
                  <div class="side-menu__title">Seller List</div>
                </a>
              </li>
              <li>
                <a class="side-menu">
                  <div class="side-menu__icon">
                    <i data-lucide="zap"></i>
                  </div>
                  <div class="side-menu__title">Seller Detail</div>
                </a>
              </li>
            </ul>
          </li>
          <li>
            <a class="side-menu side-menu--active">
              <div class="side-menu__icon">
                <i data-lucide="activity"></i>
              </div>
              <div class="side-menu__title">Reviews</div>
            </a>
          </li>
        </ul>
      </li>
      <li>
        <a class="side-menu">
          <div class="side-menu__icon"><i data-lucide="inbox"></i></div>
          <div class="side-menu__title">Inbox</div>
        </a>
      </li>
      <li>
        <a class="side-menu">
          <div class="side-menu__icon">
            <i data-lucide="hard-drive"></i>
          </div>
          <div class="side-menu__title">File Manager</div>
        </a>
      </li>
      <li>
        <a class="side-menu">
          <div class="side-menu__icon">
            <i data-lucide="credit-card"></i>
          </div>
          <div class="side-menu__title">Point of Sale</div>
        </a>
      </li>
      <li>
        <a class="side-menu">
          <div class="side-menu__icon">
            <i data-lucide="message-square"></i>
          </div>
          <div class="side-menu__title">Chat</div>
        </a>
      </li>
      <li>
        <a class="side-menu">
          <div class="side-menu__icon"><i data-lucide="file-text"></i></div>
          <div class="side-menu__title">Post</div>
        </a>
      </li>
      <li>
        <a class="side-menu">
          <div class="side-menu__icon"><i data-lucide="calendar"></i></div>
          <div class="side-menu__title">Calendar</div>
        </a>
      </li>
      <li class="side-nav__devider my-6"></li>
      <li>
        <a href="javascript:;" class="side-menu">
          <div class="side-menu__icon"><i data-lucide="edit"></i></div>
          <div class="side-menu__title">
            Crud
            <div class="side-menu__sub-icon">
              <i data-lucide="chevron-down"></i>
            </div>
          </div>
        </a>
        <ul class="">
          <li>
            <a class="side-menu">
              <div class="side-menu__icon">
                <i data-lucide="activity"></i>
              </div>
              <div class="side-menu__title">Data List</div>
            </a>
          </li>
          <li>
            <a class="side-menu">
              <div class="side-menu__icon">
                <i data-lucide="activity"></i>
              </div>
              <div class="side-menu__title">Form</div>
            </a>
          </li>
        </ul>
      </li>
      <li>
        <a href="javascript:;" class="side-menu">
          <div class="side-menu__icon"><i data-lucide="users"></i></div>
          <div class="side-menu__title">
            Users
            <div class="side-menu__sub-icon">
              <i data-lucide="chevron-down"></i>
            </div>
          </div>
        </a>
        <ul class="">
          <li>
            <a class="side-menu">
              <div class="side-menu__icon">
                <i data-lucide="activity"></i>
              </div>
              <div class="side-menu__title">Layout 1</div>
            </a>
          </li>
          <li>
            <a class="side-menu">
              <div class="side-menu__icon">
                <i data-lucide="activity"></i>
              </div>
              <div class="side-menu__title">Layout 2</div>
            </a>
          </li>
          <li>
            <a class="side-menu">
              <div class="side-menu__icon">
                <i data-lucide="activity"></i>
              </div>
              <div class="side-menu__title">Layout 3</div>
            </a>
          </li>
        </ul>
      </li>
      <li>
        <a href="javascript:;" class="side-menu">
          <div class="side-menu__icon"><i data-lucide="trello"></i></div>
          <div class="side-menu__title">
            Profile
            <div class="side-menu__sub-icon">
              <i data-lucide="chevron-down"></i>
            </div>
          </div>
        </a>
        <ul class="">
          <li>
            <a class="side-menu">
              <div class="side-menu__icon">
                <i data-lucide="activity"></i>
              </div>
              <div class="side-menu__title">Overview 1</div>
            </a>
          </li>
          <li>
            <a class="side-menu">
              <div class="side-menu__icon">
                <i data-lucide="activity"></i>
              </div>
              <div class="side-menu__title">Overview 2</div>
            </a>
          </li>
          <li>
            <a class="side-menu">
              <div class="side-menu__icon">
                <i data-lucide="activity"></i>
              </div>
              <div class="side-menu__title">Overview 3</div>
            </a>
          </li>
        </ul>
      </li>
      <li>
        <a href="javascript:;" class="side-menu">
          <div class="side-menu__icon"><i data-lucide="layout"></i></div>
          <div class="side-menu__title">
            Pages
            <div class="side-menu__sub-icon">
              <i data-lucide="chevron-down"></i>
            </div>
          </div>
        </a>
        <ul class="">
          <li>
            <a href="javascript:;" class="side-menu">
              <div class="side-menu__icon">
                <i data-lucide="activity"></i>
              </div>
              <div class="side-menu__title">
                Wizards
                <div class="side-menu__sub-icon">
                  <i data-lucide="chevron-down"></i>
                </div>
              </div>
            </a>
            <ul class="">
              <li>
                <a class="side-menu">
                  <div class="side-menu__icon">
                    <i data-lucide="zap"></i>
                  </div>
                  <div class="side-menu__title">Layout 1</div>
                </a>
              </li>
              <li>
                <a class="side-menu">
                  <div class="side-menu__icon">
                    <i data-lucide="zap"></i>
                  </div>
                  <div class="side-menu__title">Layout 2</div>
                </a>
              </li>
              <li>
                <a class="side-menu">
                  <div class="side-menu__icon">
                    <i data-lucide="zap"></i>
                  </div>
                  <div class="side-menu__title">Layout 3</div>
                </a>
              </li>
            </ul>
          </li>
          <li>
            <a href="javascript:;" class="side-menu">
              <div class="side-menu__icon">
                <i data-lucide="activity"></i>
              </div>
              <div class="side-menu__title">
                Blog
                <div class="side-menu__sub-icon">
                  <i data-lucide="chevron-down"></i>
                </div>
              </div>
            </a>
            <ul class="">
              <li>
                <a class="side-menu">
                  <div class="side-menu__icon">
                    <i data-lucide="zap"></i>
                  </div>
                  <div class="side-menu__title">Layout 1</div>
                </a>
              </li>
              <li>
                <a class="side-menu">
                  <div class="side-menu__icon">
                    <i data-lucide="zap"></i>
                  </div>
                  <div class="side-menu__title">Layout 2</div>
                </a>
              </li>
              <li>
                <a class="side-menu">
                  <div class="side-menu__icon">
                    <i data-lucide="zap"></i>
                  </div>
                  <div class="side-menu__title">Layout 3</div>
                </a>
              </li>
            </ul>
          </li>
          <li>
            <a href="javascript:;" class="side-menu">
              <div class="side-menu__icon">
                <i data-lucide="activity"></i>
              </div>
              <div class="side-menu__title">
                Pricing
                <div class="side-menu__sub-icon">
                  <i data-lucide="chevron-down"></i>
                </div>
              </div>
            </a>
            <ul class="">
              <li>
                <a class="side-menu">
                  <div class="side-menu__icon">
                    <i data-lucide="zap"></i>
                  </div>
                  <div class="side-menu__title">Layout 1</div>
                </a>
              </li>
              <li>
                <a class="side-menu">
                  <div class="side-menu__icon">
                    <i data-lucide="zap"></i>
                  </div>
                  <div class="side-menu__title">Layout 2</div>
                </a>
              </li>
            </ul>
          </li>
          <li>
            <a href="javascript:;" class="side-menu">
              <div class="side-menu__icon">
                <i data-lucide="activity"></i>
              </div>
              <div class="side-menu__title">
                Invoice
                <div class="side-menu__sub-icon">
                  <i data-lucide="chevron-down"></i>
                </div>
              </div>
            </a>
            <ul class="">
              <li>
                <a class="side-menu">
                  <div class="side-menu__icon">
                    <i data-lucide="zap"></i>
                  </div>
                  <div class="side-menu__title">Layout 1</div>
                </a>
              </li>
              <li>
                <a class="side-menu">
                  <div class="side-menu__icon">
                    <i data-lucide="zap"></i>
                  </div>
                  <div class="side-menu__title">Layout 2</div>
                </a>
              </li>
            </ul>
          </li>
          <li>
            <a href="javascript:;" class="side-menu">
              <div class="side-menu__icon">
                <i data-lucide="activity"></i>
              </div>
              <div class="side-menu__title">
                FAQ
                <div class="side-menu__sub-icon">
                  <i data-lucide="chevron-down"></i>
                </div>
              </div>
            </a>
            <ul class="">
              <li>
                <a class="side-menu">
                  <div class="side-menu__icon">
                    <i data-lucide="zap"></i>
                  </div>
                  <div class="side-menu__title">Layout 1</div>
                </a>
              </li>
              <li>
                <a class="side-menu">
                  <div class="side-menu__icon">
                    <i data-lucide="zap"></i>
                  </div>
                  <div class="side-menu__title">Layout 2</div>
                </a>
              </li>
              <li>
                <a class="side-menu">
                  <div class="side-menu__icon">
                    <i data-lucide="zap"></i>
                  </div>
                  <div class="side-menu__title">Layout 3</div>
                </a>
              </li>
            </ul>
          </li>
          <li>
            <a class="side-menu">
              <div class="side-menu__icon">
                <i data-lucide="activity"></i>
              </div>
              <div class="side-menu__title">Login</div>
            </a>
          </li>
          <li>
            <a class="side-menu">
              <div class="side-menu__icon">
                <i data-lucide="activity"></i>
              </div>
              <div class="side-menu__title">Register</div>
            </a>
          </li>
          <li>
            <a class="side-menu">
              <div class="side-menu__icon">
                <i data-lucide="activity"></i>
              </div>
              <div class="side-menu__title">Error Page</div>
            </a>
          </li>
          <li>
            <a class="side-menu">
              <div class="side-menu__icon">
                <i data-lucide="activity"></i>
              </div>
              <div class="side-menu__title">Update profile</div>
            </a>
          </li>
          <li>
            <a class="side-menu">
              <div class="side-menu__icon">
                <i data-lucide="activity"></i>
              </div>
              <div class="side-menu__title">Change Password</div>
            </a>
          </li>
        </ul>
      </li>
      <li class="side-nav__devider my-6"></li>
      <li>
        <a href="javascript:;" class="side-menu">
          <div class="side-menu__icon"><i data-lucide="inbox"></i></div>
          <div class="side-menu__title">
            Components
            <div class="side-menu__sub-icon">
              <i data-lucide="chevron-down"></i>
            </div>
          </div>
        </a>
        <ul class="">
          <li>
            <a href="javascript:;" class="side-menu">
              <div class="side-menu__icon">
                <i data-lucide="activity"></i>
              </div>
              <div class="side-menu__title">
                Table
                <div class="side-menu__sub-icon">
                  <i data-lucide="chevron-down"></i>
                </div>
              </div>
            </a>
            <ul class="">
              <li>
                <a class="side-menu">
                  <div class="side-menu__icon">
                    <i data-lucide="zap"></i>
                  </div>
                  <div class="side-menu__title">Regular Table</div>
                </a>
              </li>
              <li>
                <a class="side-menu">
                  <div class="side-menu__icon">
                    <i data-lucide="zap"></i>
                  </div>
                  <div class="side-menu__title">Tabulator</div>
                </a>
              </li>
            </ul>
          </li>
          <li>
            <a href="javascript:;" class="side-menu">
              <div class="side-menu__icon">
                <i data-lucide="activity"></i>
              </div>
              <div class="side-menu__title">
                Overlay
                <div class="side-menu__sub-icon">
                  <i data-lucide="chevron-down"></i>
                </div>
              </div>
            </a>
            <ul class="">
              <li>
                <a class="side-menu">
                  <div class="side-menu__icon">
                    <i data-lucide="zap"></i>
                  </div>
                  <div class="side-menu__title">Modal</div>
                </a>
              </li>
              <li>
                <a class="side-menu">
                  <div class="side-menu__icon">
                    <i data-lucide="zap"></i>
                  </div>
                  <div class="side-menu__title">Slide Over</div>
                </a>
              </li>
              <li>
                <a class="side-menu">
                  <div class="side-menu__icon">
                    <i data-lucide="zap"></i>
                  </div>
                  <div class="side-menu__title">Notification</div>
                </a>
              </li>
            </ul>
          </li>
          <li>
            <a class="side-menu">
              <div class="side-menu__icon">
                <i data-lucide="activity"></i>
              </div>
              <div class="side-menu__title">Tab</div>
            </a>
          </li>
          <li>
            <a class="side-menu">
              <div class="side-menu__icon">
                <i data-lucide="activity"></i>
              </div>
              <div class="side-menu__title">Accordion</div>
            </a>
          </li>
          <li>
            <a class="side-menu">
              <div class="side-menu__icon">
                <i data-lucide="activity"></i>
              </div>
              <div class="side-menu__title">Button</div>
            </a>
          </li>
          <li>
            <a class="side-menu">
              <div class="side-menu__icon">
                <i data-lucide="activity"></i>
              </div>
              <div class="side-menu__title">Alert</div>
            </a>
          </li>
          <li>
            <a class="side-menu">
              <div class="side-menu__icon">
                <i data-lucide="activity"></i>
              </div>
              <div class="side-menu__title">Progress Bar</div>
            </a>
          </li>
          <li>
            <a class="side-menu">
              <div class="side-menu__icon">
                <i data-lucide="activity"></i>
              </div>
              <div class="side-menu__title">Tooltip</div>
            </a>
          </li>
          <li>
            <a class="side-menu">
              <div class="side-menu__icon">
                <i data-lucide="activity"></i>
              </div>
              <div class="side-menu__title">Dropdown</div>
            </a>
          </li>
          <li>
            <a class="side-menu">
              <div class="side-menu__icon">
                <i data-lucide="activity"></i>
              </div>
              <div class="side-menu__title">Typography</div>
            </a>
          </li>
          <li>
            <a class="side-menu">
              <div class="side-menu__icon">
                <i data-lucide="activity"></i>
              </div>
              <div class="side-menu__title">Icon</div>
            </a>
          </li>
          <li>
            <a class="side-menu">
              <div class="side-menu__icon">
                <i data-lucide="activity"></i>
              </div>
              <div class="side-menu__title">Loading Icon</div>
            </a>
          </li>
        </ul>
      </li>
      <li>
        <a href="javascript:;" class="side-menu">
          <div class="side-menu__icon"><i data-lucide="sidebar"></i></div>
          <div class="side-menu__title">
            Forms
            <div class="side-menu__sub-icon">
              <i data-lucide="chevron-down"></i>
            </div>
          </div>
        </a>
        <ul class="">
          <li>
            <a class="side-menu">
              <div class="side-menu__icon">
                <i data-lucide="activity"></i>
              </div>
              <div class="side-menu__title">Regular Form</div>
            </a>
          </li>
          <li>
            <a class="side-menu">
              <div class="side-menu__icon">
                <i data-lucide="activity"></i>
              </div>
              <div class="side-menu__title">Datepicker</div>
            </a>
          </li>
          <li>
            <a class="side-menu">
              <div class="side-menu__icon">
                <i data-lucide="activity"></i>
              </div>
              <div class="side-menu__title">Tom Select</div>
            </a>
          </li>
          <li>
            <a class="side-menu">
              <div class="side-menu__icon">
                <i data-lucide="activity"></i>
              </div>
              <div class="side-menu__title">File Upload</div>
            </a>
          </li>
          <li>
            <a href="javascript:;" class="side-menu">
              <div class="side-menu__icon">
                <i data-lucide="activity"></i>
              </div>
              <div class="side-menu__title">
                Wysiwyg Editor
                <div class="side-menu__sub-icon">
                  <i data-lucide="chevron-down"></i>
                </div>
              </div>
            </a>
            <ul class="">
              <li>
                <a class="side-menu">
                  <div class="side-menu__icon">
                    <i data-lucide="zap"></i>
                  </div>
                  <div class="side-menu__title">Classic</div>
                </a>
              </li>
              <li>
                <a class="side-menu">
                  <div class="side-menu__icon">
                    <i data-lucide="zap"></i>
                  </div>
                  <div class="side-menu__title">Inline</div>
                </a>
              </li>
              <li>
                <a class="side-menu">
                  <div class="side-menu__icon">
                    <i data-lucide="zap"></i>
                  </div>
                  <div class="side-menu__title">Balloon</div>
                </a>
              </li>
              <li>
                <a class="side-menu">
                  <div class="side-menu__icon">
                    <i data-lucide="zap"></i>
                  </div>
                  <div class="side-menu__title">Balloon Block</div>
                </a>
              </li>
              <li>
                <a class="side-menu">
                  <div class="side-menu__icon">
                    <i data-lucide="zap"></i>
                  </div>
                  <div class="side-menu__title">Document</div>
                </a>
              </li>
            </ul>
          </li>
          <li>
            <a class="side-menu">
              <div class="side-menu__icon">
                <i data-lucide="activity"></i>
              </div>
              <div class="side-menu__title">Validation</div>
            </a>
          </li>
        </ul>
      </li>
      <li>
        <a href="javascript:;" class="side-menu">
          <div class="side-menu__icon">
            <i data-lucide="hard-drive"></i>
          </div>
          <div class="side-menu__title">
            Widgets
            <div class="side-menu__sub-icon">
              <i data-lucide="chevron-down"></i>
            </div>
          </div>
        </a>
        <ul class="">
          <li>
            <a class="side-menu">
              <div class="side-menu__icon">
                <i data-lucide="activity"></i>
              </div>
              <div class="side-menu__title">Chart</div>
            </a>
          </li>
          <li>
            <a class="side-menu">
              <div class="side-menu__icon">
                <i data-lucide="activity"></i>
              </div>
              <div class="side-menu__title">Slider</div>
            </a>
          </li>
          <li>
            <a class="side-menu">
              <div class="side-menu__icon">
                <i data-lucide="activity"></i>
              </div>
              <div class="side-menu__title">Image Zoom</div>
            </a>
          </li>
        </ul>
      </li>
    </ul>
  </nav>
  <!-- END: Side Menu -->
</template>

<script setup></script>

<style lang="scss" scoped></style>
